.Article-enter {
  opacity: 0.01;
}

.Article-enter.Article-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.Article-leave {
  opacity: 1;
}

.Article-leave.Article-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
