.ListComments-enter {
  opacity: 0.01;
}

.ListComments-enter.ListComments-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.ListComments-leave {
  opacity: 1;
}

.ListComments-leave.ListComments-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
